{% extends 'base.html' %}

{% block title %}Detalles del Lugar {{ lugar.numero }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1 class="mb-4 text-center">Reservas del Lugar {{ lugar.numero }}</h1>
    <div class="text-center"> <!-- Centrado horizontal -->
        <a href="{% url 'lista_lugares' lugar.ubicacion.id %}" class="btn btn-secondary mb-4">Volver a Lugares de {{ lugar.ubicacion.nombre }}</a>
    </div>

    {% if messages %}
    <div class="alert alert-dismissible {% if messages.tags %}alert-{{ messages.tags }}{% endif %}">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="card text-center mb-3">
                <div class="card-body ">
                    <h5 class="mb-3">Crear Nueva Reserva</h5>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Reservar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Estado actual del lugar: <span class="badge bg-dark">{{ lugar.estado }}</span></h5>
                </div>
            </div>
        </div>
    </div>

    {% if reservas %}
    <div class="card">
        <div class="card-body">
            <h3 class="text-center mb-3">Reservas Existentes</h3>
            <div class="row">
                {% for reserva in reservas %}
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Reserva desde {{ reserva.fecha_reserva }} hasta {{ reserva.fecha_liberacion }}</h5>
                            <p class="card-text">Cliente: {{ reserva.cliente.first_name }} {{ reserva.cliente.last_name }}</p>
                            {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'modificar_reserva' reserva.id %}" class="btn btn-warning btn-sm">Modificar</a>
                            <a href="{% url 'eliminar_reserva' reserva.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
