{% extends 'base.html' %}

{% block title %}Detalles del Lugar {{ lugar.numero }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Reservas del Lugar {{ lugar.numero }}</h1>
    <a href="{% url 'lista_lugares' lugar.ubicacion.id %}" class="btn btn-secondary btn-sm">Volver a Lugares de {{ lugar.ubicacion.nombre }}</a>
    
    {% if messages %}
  <div class="alert alert-dismissible {% if messages.tags %}alert-{{ messages.tags }}{% endif %}">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
  </div>
{% endif %}

    <h2 class="mt-4">Crear Nueva Reserva</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-sm">Reservar</button>
    </form>

    {% if reservas %}
    <h2 class="mt-4">Reservas Existentes</h2>
    <div class="row">
        {% for reserva in reservas %}
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reserva desde {{ reserva.fecha_reserva }} hasta {{ reserva.fecha_liberacion }}</h5>
                    <p class="card-text">Cliente: {{ reserva.cliente.username }}</p>
                    {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'eliminar_reserva' reserva.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
