{% extends 'base.html' %}

{% block title %}Crear Lugar{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1>Crear Lugar en {{ ubicacion.nombre }}</h1>

        {% if messages %}
        <div class="alert alert-dismissible {% if messages.tags %}alert-{{ messages.tags }}{% endif %}">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="numero" class="form-label fs-6">Número del Lugar</label>
                <input type="number" class="form-control col-2" id="numero" name="numero" required>
                {% if form.numero.errors %}
                <div class="alert alert-danger">
                    {% for error in form.numero.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <input type="hidden" name="estado" value="Libre">
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
            <a href="{% url 'lista_lugares' ubicacion.id %}" class="btn btn-secondary ms-2">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
