{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<style>
    .centered-form {
        display: flex;
        justify-content: center;
    }
    
    .card-header {
        text-align: center; /* Centra el texto del header horizontalmente */
        background-color: #f0f0f0; /* Color de fondo opcional */
        padding: 10px; /* Añade espaciado interno al header */
    }
    .card-body {
        justify-content: center;
        padding: 20px; /* Añade espaciado interno al body */
    }
</style>

<div class="centered-form">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Iniciar Sesión</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_usuario">Usuario:</label>
                    {{ form.username }}
                </div>
                <div class="form-group mt-3">
                    <label for="id_contraseña">Contraseña:</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary mt-2">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
