{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4">Bienvenido a nuestro sistema de estacionamiento</h1>
            <p class="lead">Por favor, inicia sesión o regístrate para continuar:</p>
            <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary btn-lg m-2">Iniciar Sesión</a>
            <a href="{% url 'registrar_usuario' %}" class="btn btn-secondary btn-lg m-2">Registrar Usuario</a>
        </div>
    </div>
</div>
{% endblock %}
